<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981142108015-2pc5ve4lgncvklgci406a3qn5b98do7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981142108015-2pc5ve4lgncvklgci406a3qn5b98do7r</string>
	<key>API_KEY</key>
	<string>AIzaSyBx-xQkSkaE41sLBa1mRh1Ko6wplBspOM4</string>
	<key>GCM_SENDER_ID</key>
	<string>981142108015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-76044</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-76044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981142108015:ios:7eea0fb748d599a7dd5a9a</string>
</dict>
</plist>